In [31]:
import pandas as pd
#se define un data frame para cargar el archivo que contiene los datos de entrenamiento
dthealth = pd.read_csv("/Machine Learning/Data/Data Heart/heart.csv")
#se muestra el dataframe
dthealth.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [32]:
#Se almacena en la variable inputs la variables independientes y en mytarget la variable dependiente
inputs=dthealth.drop('target', axis='columns')
mytarget=dthealth['target']

In [33]:
#Se visualizan las variables independientes
inputs

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2

In [34]:
#Cargamos el modelo con los datos del entrenamiento
from sklearn import tree
mymodeltree =tree.DecisionTreeClassifier()
mymodeltree.fit(inputs,mytarget)

DecisionTreeClassifier()

In [35]:
#Mostramos el puntaje de la predicción
mymodeltree.score(inputs,mytarget)

1.0

In [36]:
#Se prueba el modelo con variables que permitan determinar la presencia de la enfermedad cardiaca 
mymodeltree.predict([[63,1,3,145,223,1,0,150,0,2.3,0,0,1]])

array([1], dtype=int64)

In [37]:
#Se prueba el modelo con variables que permitan determinar la ausencia de la enfermedad cardiaca 
mymodeltree.predict([[56,1,2,130,256,1,0,142,1,0.6,1,1,1]])

array([0], dtype=int64)